<section *ngIf="!preloadReady" id="loader">
  …loading
</section>
<section *ngIf="preloadReady" id="player">
  <h3 *ngIf="debug" style="position: absolute;left: 25px;z-index: 999;"><small>#debug: </small>{{playState.media}}</h3>
  <!-- Active Cam -->
  <video preload="auto" #player>
    <source [src]="currentCam.src" type='video/{{EXT}}; codecs="{{CODEC}}"'>
      Sorry – Dein Browser unterstützt kein WebM (Codec: VP8/VP9) oder MP4 (Codec: H.264) HTML5 Video.
  </video>
  <!-- Controls -->
  <div class="controls" [class.visible]="showControls">
    <div class="controlsGroup">
      <button class="controlsBtn" (click)="togglePlayState()">
        <i *ngIf="playState.paused" class="controlsIcn material-icons">play_arrow</i>
        <i *ngIf="playState.playing" class="controlsIcn material-icons">pause</i>
      </button>
    </div>
    <div class="controlsGroup">
      <button class="controlsBtn" (click)="toggleCamSwitcher()">
        <i class="controlsIcn material-icons">view_comfy</i>
      </button>
    </div>
  </div>
  <div class="controls" [class.visible]="skippableIntro">
    <button id="replayIntroBtn" class="controlsBtn" (click)="replayIntro()">
      play everything
    </button>
    <button id="skipIntroBtn" class="controlsBtn" (click)="skipIntro()">
      skip intro…
    </button>
  </div>
  <!-- Cam Switcher -->
  <div class="switcher" [hidden]="!camSwitcherVisible">
    <ng-container *ngFor="let cam of cams">
      <video *ngIf="switchables.includes(cam.name)"
              id="{{ cam.name }}"
              preload="auto"
              (click)="setActiveCam(cam.name)"
              class="preview"
              #preview
              muted>
        <source src="{{ cam.src }}" type='video/{{EXT}}; codecs="{{CODEC}}"'>
      </video>
    </ng-container>
  </div>
</section>
