<div id="instructions" class="siema">
  <img src='../assets/img/tutorial/zeichenflaeche_1.jpg'>
  <img src='../assets/img/tutorial/zeichenflaeche_2.jpg'>
  <img src='../assets/img/tutorial/zeichenflaeche_3.jpg'>
  <img src='../assets/img/tutorial/zeichenflaeche_4.jpg'>
  <img src='../assets/img/tutorial/zeichenflaeche_5.jpg'>
  <img src='../assets/img/tutorial/zeichenflaeche_6.jpg'>
  <img src='../assets/img/tutorial/zeichenflaeche_7.jpg'>
  <img src='../assets/img/tutorial/zeichenflaeche_8.jpg'>
</div>
<div class="siema-controls">
  <button class="siema-previous">vorherige</button>
  <button class="siema-next">nächste</button>
</div>
