<div id="instructions" class="siema">
  <img src='../assets/img/tutorial/zeichenflaeche_1.png'>
  <img src='../assets/img/tutorial/zeichenflaeche_2.png'>
  <img src='../assets/img/tutorial/zeichenflaeche_3.png'>
  <img src='../assets/img/tutorial/zeichenflaeche_4.png'>
  <img src='../assets/img/tutorial/zeichenflaeche_5.jpg'>
  <img src='../assets/img/tutorial/zeichenflaeche_6.png'>
  <img src='../assets/img/tutorial/zeichenflaeche_7.png'>
  <img src='../assets/img/tutorial/zeichenflaeche_8.png'>
  <img src='../assets/img/tutorial/zeichenflaeche_9.jpg'>
</div>
<div class="siema-controls">
  <button class="siema-previous">vorherige</button>
  <button class="siema-next">nächste</button>
</div>
