<div class="hero">
<div class="bottomImageBox">
    <div class="team">

        <p class="teammember">Sebastian Würtz (Regisseur)</p>
        <p class="teammember">Richard Schott (Kameramann)</p>
        <p class="teammember">Jonas André (Sounddesign)</p>
        
        <!-- <img [src]="teamPic" style="max-width:1280px;"> -->
        
    </div>

    <div class="abouttext">
      <h2>Labster Studio</h2>
      <p>
        Labster Studio ist eine Zusammenkunft von drei
        kreativen Köpfen der Hochschule Trier, die sich
        hauptsächlich auf Film, aber auch auf Videospiele
        fokussiert. Der interaktive Kurzfilm Security ist
        dabei unser ambitioniertes Jahresthema, dass wir während
        drei Semestern konzeptioniert, geplant und umgesetzt haben.
        Es bildet als interaktiver Film die perfekt Mischung zwischen
        unserer beiden Lieblingsmedien Film und Spiel und soll den Zuschauer
        aus seiner passiven Sehgewohnheit  in eine aktiv teilnehmende Position bringen.
      </p>
    </div>

</div>
</div>

<div class="abouttext-mobile">
  <h2>Labster Studio</h2>
  <p>
    Labster Studio ist eine Zusammenkunft von drei
    kreativen Köpfen der Hochschule Trier, die sich
    hauptsächlich auf Film, aber auch auf Videospiele
    fokussiert. Der interaktive Kurzfilm Security ist
    dabei unser ambitioniertes Jahresthema, dass wir während
    drei Semestern konzeptioniert, geplant und umgesetzt haben.
    Es bildet als interaktiver Film die perfekt Mischung zwischen
    unserer beiden Lieblingsmedien Film und Spiel und soll den Zuschauer
    aus seiner passiven Sehgewohnheit  in eine aktiv teilnehmende Position bringen.
  </p>
</div>

<div class="row">
  <a class="socialMedia"href="https://www.youtube.com/channel/UCXzrkAnaQT6jl4hds4V_YNQ">Youtube</a>
  <a class="socialMedia" href="https://www.facebook.com/LabsterStudio">Facebook</a>
  <a class="socialMedia" href="https://www.instagram.com/labster.studio/">Instagram</a>
</div>