#siteNav {
  color: orange;
  //align-self: center;

  .navList {

  }

  .navItem {
    position: relative;
    display: inline-block;
    text-transform: lowercase;
    padding: 5px 15px;
    letter-spacing: .75px;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: calc(100% - 15px);
      max-width: 50%;
      height: 3px;
      background-color: white;
      cursor: pointer;
      transition: var(--easing);
      opacity: 0;
    }

    &:hover {
      color: var(--accent-color);
      &::after {
        opacity: 1;
      }
    }
  }

  .active{
    color: var(--accent-color);
  }


  .responsive {
    position:relative;
    display:none;
  }
  
  #menu{
    display:none;
  }

  .clear{
    clear: both;
  }

  

  @media screen and (max-width: 540px) {
    .expanded{
      position:relative;
      top:0;
      display: flex;
      position:relative;
      flex-direction: column;
      transition: .3s;
    }

    ul:not(.expanded){
      top:-2em;
      transition-duration: .3s;
    }

    .navItem{
      padding: 5px 0;
    }

    .navList{
      padding:0;
      margin: 1em 0 0 0;
    }

    #menu {
      display: inherit;
      width:24px;
      float:right;
    }

    .static{
      display:none;
    }
  }


}
