*{
  transition: all .2s;
}

html{
  background-color: black;
  color:white;
  font-family: 'Raleway', sans-serif;
}

body{
  max-width:1920px;
  max-height:1080px;
  margin-left: auto;
  margin-right: auto;
}

a{
  text-decoration:none;
  color:white;
}

a.active{
  color:orange;
}

a:hover{
  color: orange;
}

header{
  margin-left: auto;
  margin-right: auto;
  height:100px;
  max-width: 1280px;
  min-width: 600px;
  font-size: 1.2em;
  text-transform: uppercase;
  /* background-color: red; */
  margin-top: 2em;
  margin-bottom: 2em;
}

header a{
  float:right;
  padding:2em 2em 0 2em;
}

.securitylogo{
  float:left;
  max-height:100px;
  min-height:50px;
  position: relative;
  botto,
}

.labsterlogo{
  width:75px;
  height:75px;
  float:right;
  position: relative;
  bottom:3.5em;
}

/* main */

main{
  margin-left: auto;
  margin-right: auto;
  width:1280px;
  height:720px;
}

.undervideo {
  padding-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width:1280px;
}
button{
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  width:200px;
  height: 50px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  color: white;
  text-transform: uppercase;
  background-color: black;
  position: relative;
  text-align: center;
}
button:hover{
  border-color: orange;
  color: orange;
}
.buttondiv{
  text-align: center;
}

footer{
  height:5em;
}

/* screen size below hd ready */
@media screen
 (max-screen-width : 1280px)
{
  main{
  width:858px;
  height:420px;
}
}


/* SLIDER */

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1280px;
  height: 720px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 20px 20px 0;
}

a.control_next {
  right: 0;
  border-radius: 20px 0 0 20px;
}
